In [2]:
import numpy as np
import pandas as pd

from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains

driver = webdriver.Chrome()
#driver1 = webdriver.Chrome()

action = ActionChains(driver)

F:\Anaconda\Anaconda_4_python3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
chartLink = 'https://www.billboard.com/charts/hot-100/'
driver.get(chartLink)

In [3]:
data = driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]')

# Start Here

## BillBoard Scraping

In [4]:
data_in_list = [row.text.split('\n') for row in data]

In [5]:
df = pd.DataFrame(data_in_list)

In [6]:
new_songs = df[(df[1] == 'NEW') | (df[1] == 'RE- ENTRY')]
new_index = list(new_songs.index)

In [7]:
df.iloc[new_index, [1,2,3]].head(1)

     1                  2              3
6  NEW  Don't Think Jesus  Morgan Wallen

In [8]:
df.iloc[new_index,[1,2,3,4,5]] = df.iloc[new_index,[2,3,4,5,6]]

In [9]:
df = df.drop(6,axis=1)

In [10]:
df.columns = ['Rating', 'Song', 'Artist', 'Last Week', 'Peak Pos', 'Weeks on Chart']

In [11]:
df.to_csv("BillBoard.csv", index=False)

In [3]:
driver.quit()

## Youtube Views Scrapping

In [13]:
df = pd.read_csv('BillBoard.csv')
df.head(2)

   Rating         Song        Artist Last Week  Peak Pos  Weeks on Chart
0       1    As It Was  Harry Styles         2         1               3
1       2  First Class   Jack Harlow         1         1               2

In [21]:
youtube_base_link = 'https://www.youtube.com/results?search_query='

song_list = list(df['Song'])
artist_list = list(df['Artist'])

song_links = []

for index in range(len(song_list)):
    song_links.append(song_list[index] + ' ' + artist_list[index])

song_links[:3]

['As It Was Harry Styles',
 'First Class Jack Harlow',
 'Heat Waves Glass Animals']

In [27]:
html_links = []

for song in song_links:
    html_links.append('+'.join(song.split()))
    
html_links[:3]

['As+It+Was+Harry+Styles',
 'First+Class+Jack+Harlow',
 'Heat+Waves+Glass+Animals']

In [49]:
full_links = []

for html_link in html_links:
    full_links.append(youtube_base_link + html_link)
    
print(full_links[1])

https://www.youtube.com/results?search_query=First+Class+Jack+Harlow

In [50]:
driver = webdriver.Chrome()

In [67]:
all_views = []

for link in full_links:
    driver.get(link)
    
    views = driver.find_elements_by_xpath("//span[@class='style-scope ytd-video-meta-block'][1]")
    view_list = [view.text.split()[0] for view in views]
    
    for view in view_list:
        if 'M' in view:
            all_views.append(view.split('M')[0])
            break
            
print(all_views[:3])

['92', '15', '272']

In [71]:
df['Views M'] = pd.Series(all_views)
df.head(2)

,Rating,Song,Artist,Last Week,Peak Pos,Weeks on Chart,Views M
0,1,As It Was,Harry Styles,2,1,3,92
1,2,First Class,Jack Harlow,1,1,2,15

In [72]:
df.to_csv("BillBoard.csv", index=False)

In [1]:
driver.quit()

NameError: name 'driver' is not defined

# Scrap Images

In [7]:
driver = webdriver.Chrome()

In [8]:
chartLink = 'https://www.billboard.com/charts/'
driver.get(chartLink)

In [9]:
data = driver.find_elements_by_xpath("//div[@class='lrv-a-crop-1x1']/img")[:3]

In [24]:
import urllib

for i, image in enumerate(data):
    src = image.get_attribute('src')
    #urllib.request.urlretrieve(src, '/static/ban_images/'+str(i)+".png")
    urllib.request.urlretrieve(src, 'static/ban_images/'+str(i)+".png")

# Scrapping 100 Images

In [29]:
chartLink = 'https://www.billboard.com/charts/hot-100/'
driver.get(chartLink)

In [30]:
data = driver.find_elements_by_xpath("//div[@class='lrv-a-crop-1x1 a-crop-67x100@mobile-max']/img")

In [31]:
for i, image in enumerate(data):
    src = image.get_attribute('src')
    urllib.request.urlretrieve(src, 'static/billboard/'+str(i)+".png")

In [ ]:
pd.read_csv('static/b')

In [74]:
test_df = pd.read_csv('BillBoard.csv')

In [75]:
test_df.head()

,Rating,Song,Artist,Last Week,Peak Pos,Weeks on Chart,Views M
0,1,As It Was,Harry Styles,2,1,3,92.0
1,2,First Class,Jack Harlow,1,1,2,15.0
2,3,Heat Waves,Glass Animals,3,1,66,272.0
3,4,Big Energy,Latto,4,3,26,20.0
4,5,Enemy,Imagine Dragons X JID,5,5,22,168.0